a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hide-resposive {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .hide-resposive {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .hide-desktop {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.filter {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.input-widget label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.input-widget input {
  width: 100%;
  outline: none;
  height: 64px;
  border: 1px solid #d8d8d8;
  margin-bottom: 40px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #8d9397;
}

p {
  margin: 0px;
}

nav {
  background-color: white;
}

nav .navbar-toggler {
  background: #D1A482;
}

@media only screen and (max-width: 768px) {
  nav .navbar-collapse {
    margin-top: 30px;
  }
}

nav .navbar-brand {
  margin-right: 40px;
}

nav .navbar-brand img {
  border-right: 1px solid #63636380;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  nav .navbar-brand img {
    border: none;
    width: 120px;
  }
}

nav ul .nav-link {
  color: #00000066 !important;
  margin-right: 40px;
}

nav ul .active {
  color: #D1A482 !important;
}

nav .contacts {
  border: 1px solid #70707080;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  nav .contacts {
    width: 70%;
  }
}

nav .contacts .nav-social-contact {
  padding: 10px;
  border-right: 1px solid #70707080;
}

nav .contacts .nav-social-contact a:first-child {
  margin-right: 10px;
}

nav .contacts .phone {
  padding: 10px;
}

nav .contacts .phone a {
  color: #00483F;
}

nav .contacts .phone a img {
  margin-right: 10px;
}

footer {
  background-color: #F6F6F6;
  padding: 60px 0px 30px 0px;
}

@media only screen and (max-width: 768px) {
  footer .pages {
    margin-bottom: 30px;
  }
}

footer .pages h4 {
  margin-bottom: 20px;
}

footer .pages .pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .pages .pages-list ul {
  margin-right: 40px;
}

footer .pages .pages-list ul li {
  margin-bottom: 20px;
}

footer .pages .pages-list ul li a {
  color: #000;
}

@media only screen and (max-width: 768px) {
  footer .socail-contacts {
    margin-bottom: 40px;
  }
}

footer .socail-contacts h4 {
  margin-bottom: 20px;
}

footer .socail-contacts .social a {
  border: 1px solid #3B3B3B;
  border-radius: 5px;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
}

footer .socail-contacts .social a i {
  color: black;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo img {
  width: 70%;
}

footer .footer-line {
  margin: 20px 0px;
}

footer .footer-line img {
  width: 100%;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright p {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  footer .copyright p {
    font-size: 12px;
  }
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message .message-text {
  background-color: #F6F6F6 !important;
  color: #2C2C2C;
  height: 100vh !important;
  text-align: left;
  padding: 266px 80px 266px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .message .message-text {
    padding: 30px 20px;
    width: 100%;
  }
}

.message .message-img {
  width: 50%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .message .message-img {
    width: 100%;
  }
}

.message .message-img img {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .message .message-img img {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .chairman-message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.egyption-company {
  padding: 50px 0px 0px 0px;
}

.egyption-company h3 {
  text-align: center;
  margin-bottom: 30px;
}

.egyption-company .egyption-company-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .egyption-company .egyption-company-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.egyption-company .egyption-company-boxes .egyption-company-content {
  width: 25%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .egyption-company .egyption-company-boxes .egyption-company-content {
    width: 100%;
  }
}

.egyption-company .egyption-company-boxes .egyption-company-content img {
  width: 100%;
}

.egyption-company .egyption-company-boxes .egyption-company-content .bg-div {
  background-image: url(../img/dark-box.png) !important;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 130px 0px;
}

.egyption-company .egyption-company-boxes .egyption-company-content .bg-div h6 {
  font-size: 32px;
  margin-bottom: 30px;
}

.egyption-company .egyption-company-boxes .egyption-company-content .bg-div span {
  font-size: 100px;
}

.egyption-company .egyption-company-boxes .egyption-company-content .light {
  background-image: url(../img/light-box.png) !important;
}

.projects {
  padding: 100px 0px;
}

.projects h3 {
  text-align: center;
  margin-bottom: 30px;
}

.projects .projects-content {
  height: 346px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 20px solid #D1A4821A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .projects .projects-content {
    margin-bottom: 30px;
  }
}

.projects .projects-content a {
  font-size: 30px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects-content a:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}

.projects .projects-content a:first-child:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 164, 130, 0.6)), to(rgba(209, 164, 130, 0.6))), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
}

.projects .projects-content a:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
}

.projects .projects-content a:nth-child(2):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 164, 130, 0.6)), to(rgba(209, 164, 130, 0.6))), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
}

.projects .projects-content a:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
}

.projects .projects-content a:nth-child(3):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 164, 130, 0.6)), to(rgba(209, 164, 130, 0.6))), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
}

.projects .projects-content a:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png) !important;
}

.projects .projects-content a:last-child:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 164, 130, 0.6)), to(rgba(209, 164, 130, 0.6))), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
  background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
}

.secial-projects {
  background-color: #F6F6F6;
  padding: 40px 0px 150px 0px;
}

.secial-projects h3 {
  text-align: center;
}

.secial-projects .latest-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
}

.secial-projects .latest-projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secial-projects .latest-projects div img {
  margin-right: 10px !important;
}

.secial-projects .latest-projects button {
  background-color: #B78457;
  color: white;
}

.secial-projects .project-component {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .secial-projects .project-component {
    margin-bottom: 30px;
  }
}

.secial-projects .project-component .project-img {
  overflow: hidden;
  max-height: 326px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.secial-projects .project-component .project-img img {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  overflow-x: hidden;
}

.secial-projects .project-component .project-img img:hover {
  width: 100%;
  max-height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.secial-projects .project-component .project-details {
  background-color: #FFFFFF;
  padding: 20px 0px 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.secial-projects .project-component .project-details p {
  color: #757575;
  font-size: 16px;
}

.secial-projects .project-component .project-details .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.secial-projects .project-component .project-details .button-div button {
  background-color: #00483F !important;
  color: white;
  border-radius: 10px 0px;
}

.secial-projects .project-component .project-details .button-second-div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secial-projects .project-component .project-details .button-second-div p {
  color: #3B3B3B;
  font-size: 12px !important;
  margin-bottom: 0px;
}

.leave-your-phonenum {
  padding: 150px 0px;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum {
    padding: 40px 0px;
  }
}

.leave-your-phonenum .panner-img {
  background-image: url(../img/Group40.png) !important;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
  margin-top: -232px;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .panner-img {
    margin-top: -60px;
    padding: 10px;
  }
}

.leave-your-phonenum .panner-img h2 {
  z-index: 10;
  color: white;
  font-size: 50px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .panner-img h2 {
    font-size: 12px;
  }
}

.leave-your-phonenum .panner-img img {
  width: 100%;
  top: -232px;
}

.leave-your-phonenum .contact-info {
  background: #F6F6F6;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.leave-your-phonenum .contact-info img {
  width: 30%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .contact-info img {
    width: 100%;
  }
}

.leave-your-phonenum .contact-info form {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .contact-info form {
    width: 100%;
  }
}

.leave-your-phonenum .contact-info form input {
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 20px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .contact-info form input {
    width: 100%;
  }
}

.leave-your-phonenum .contact-info form input:focus {
  outline: none;
}

.leave-your-phonenum .contact-info form input:before {
  content: ' ';
  position: absolute;
  top: 2px;
  /* adjust icon position */
  left: 0px;
  width: 14px;
  /* size of a single icon */
  height: 14px;
  background-image: url("../img/footer-wa.PNG");
  /* all icons in a single file */
  background-repeat: no-repeat;
  background-position: -48px 0px;
  /* position of the right icon */
}

.leave-your-phonenum .contact-info form .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.leave-your-phonenum .contact-info form .button-div button {
  background-color: #00483F;
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  margin-top: 70px;
}

.leave-your-phonenum .contact-info form .button-div button:hover {
  color: #00483F;
  background-color: white;
  border: 1px solid #00483F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.leave-your-phonenum .social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6F6F6;
  border-radius: 10px;
  padding: 100px 50px;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .social-contacts {
    margin-top: 25px;
  }
}

.leave-your-phonenum .social-contacts h4 {
  margin-bottom: 20px;
}

.leave-your-phonenum .social-contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .social-contacts div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .leave-your-phonenum .social-contacts div a:first-child {
    margin-bottom: 20px;
  }
}

.leave-your-phonenum .social-contacts div a img {
  height: 80px !important;
  width: 80px !important;
}
/*# sourceMappingURL=style.css.map */