a {
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        a{
            
        }
    }
}
button {
    cursor: pointer;
}

img {
    object-fit: cover;
}


.hide-resposive {
    display: flex !important;
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}

.hide-desktop {
    display: none !important;
    @media only screen and (max-width: 768px) {
        display: flex !important;
    }
}


body {
    font-family: 'Roboto', sans-serif !important;
 
    
}

.filter {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, .3);
}

.input-widget {
    label {
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
    }
    input {
        width: 100%;
        outline: none;
        height: 64px;
        border: 1px solid #d8d8d8;
        margin-bottom: 40px;
        padding: 0px 20px;
        box-sizing: border-box;
        font-size: 16px;
        color: #8d9397;
    }
}
p{
    margin: 0px;
}