.navbar{
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0 ,0 ,0 ,0.2);
    direction: rtl;
    .navbar-toggler{
       background: $main-color; 
    }
    .navbar-collapse {
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
          }
    }
    .navbar-brand{
        margin-right: 40px;
        img{
            border-right: none;
            border-left: 1px solid #63636380;
            padding-left: 40px;
            padding-right: 0px;
            box-sizing: border-box;
            @media only screen and (max-width: 768px) {
                border: none;
                width: 120px;
              }
        }
    }
    ul{
        margin-right: 40px;
        @media only screen and (max-width: 768px) {
            margin-right: 0px;
           }
        .nav-link{
            color: #00000066 !important;
            margin-left: 40px;
            
        }
        .active{
            color:#D1A482 !important;
        }
    }
    .contact{
        @media only screen and (max-width: 768px) {
            flex-direction: column;
           }
        .languages{
            margin-left: 10px;
            border: 1px solid #70707080;
            border-radius: 5px;
            box-sizing: border-box;
            height: 100%;
            @media only screen and (max-width: 768px) {
                margin-bottom: 10px;
                width: 33%;
               }
            a{
                img{
                    height: 50px !important;
                    padding:10px;
                    box-sizing: border-box;
                    opacity: 0.5;
                }
                .active-img{
                    background-color: #F6F6F6;
                    opacity: 1 !important;
                }
            }
        }
        .contacts{
            border: 1px solid #70707080;
            border-radius: 5px;
            box-sizing: border-box;
            display: flex;
            @media only screen and (max-width: 768px) {
               width: 100%;
              }
            .nav-social-contact{
                padding: 10px;
                border-right: none ;
                border-left: 1px solid #70707080 ;
                a{
                    &:first-child{
                        margin-right: 0px;
                    margin-left: 10px;
                   }
                }
            }
            .phone{
                padding: 10px;
               a{
                color: #00483F;
                img{
                    margin-left: 10px;
                }
               }
            }
        }
    }
}


