*{
    direction: rtl;
    text-align: right;
}

.message{
    @include flex;
    height: 100vh;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        }
    .message-text{
        background-color: #F6F6F6 !important;
        color: #2C2C2C;
        height: 100vh !important;
        text-align: left;
        padding: 266px 80px 266px 80px;
        box-sizing: border-box;
        width: 50%;
        @media only screen and (max-width: 768px) {
            padding: 30px 20px;
            width: 100%;
            }
        h6{}
        p{}
    }
  
    .message-img{
        width: 50%;
        height: 100vh;
        @media only screen and (max-width: 768px) {
            width: 100%;
            }
        img{
            width: 100%;
            height: 100vh;
            @media only screen and (max-width: 768px) {
                height: 100%;
                }
        }
    }
}
.chairman-message{
    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
        }
    }

.egyption-company{
    padding: 50px 0px 0px 0px;
    
    background: #fafafa;
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
    .egyption-company-boxes{
        @include flex;
        @media only screen and (max-width: 768px) {
           flex-direction: column;
          }
        .egyption-company-content{
            width: 25%;
            height: 100%;
            @media only screen and (max-width: 768px) {
                width: 100%;
              }
            img{
                width: 100%;
            }
            
            .bg-div{
                background-image: url(../img/dark-box.png) !important;
                width: 100%;
                background-position: center top;
               // background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 90px 0px 100px 0px ;//fix 130px 0px
                // &:nth-child(even){
                //     background-image: url(../img/light-box.png)!important;
                // }
                h6{
                    font-size: 32px;
                    margin-bottom: 30px;
                    padding-top: 90px;//fix
                    box-sizing: border-box;
                }
                p{}
                span{
                    font-size: 100px;
                }
            }
            .light{
                background-image: url(../img/light-box.png)!important;
            }
        }
    }
}

.projects{
    padding: 100px 0px;
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
    .projects-content{
        height: 346px;
        border-radius: 50px;
        align-items: center;
        overflow: hidden;
        border: 20px solid #D1A4821A;
        text-align: center;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            margin-bottom: 30px;
          }
        //   &:last-child{
        //     @media only screen and (max-width: 768px) {
        //         margin-bottom: 0px;
        //       }  
        //   }
        a{
            font-size: 30px;
            color: white;
            text-align: center;
            @include flex-center;
        &:first-child{
            background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
            width: 100%;
            height: 100%;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            background-position: 50% 50%;
            &:hover{
                background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
           
            }
        }
        &:nth-child(2){
            background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png)!important;
        
            &:hover{
                background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
           
            }
        }
        &:nth-child(3){
            background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png)!important; 
        
            &:hover{
                background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
           
            }
        }
        &:last-child{
            background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png)!important;
        
            &:hover{
                background: linear-gradient(rgba(209, 164, 130, 0.6), rgba(209, 164, 130, 0.6)), url(../img/verne-ho-0LAJfSNa-xQ-unsplash.png) !important;
           
            }
        }
        
        }
        //rgb(209, 164, 130)
    }
}


.secial-projects{
    background-color: #F6F6F6;
    padding: 40px 0px 150px 0px;
    h3{
        text-align: center;
    }
    .latest-projects{
        @include flex;
        margin: 50px 0px;
        div{
            @include flex;
            img{
                margin-left: 10px;
            }
            h6{}
        }
        button{
            background-color: #B78457;
            color: white;
        }
    }
    .project-component{
        overflow: hidden;
        @media only screen and (max-width: 768px) {
               margin-bottom: 30px;
             }
        .project-img{
            overflow: hidden;
            max-height: 326px;
            margin-bottom: 10px;
            border-radius: 5px;
            img{
                width: 100%;
                overflow: hidden;
                max-height: 100%;
                overflow-x: hidden;
                &:hover{
                    width: 100%;
                    max-height: 100%;
                    transform: scale(1.1);
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                    overflow: hidden;
                }
            }
        }
        .project-details{
            background-color: #FFFFFF;
            padding: 20px 20px 0px 0px;
            box-sizing: border-box;
            border-radius: 10px ;
            
            h6{}
            p{
                color: #757575;
                font-size: 16px;
            }
            
            .button-div{
                @include flex;
                justify-content: flex-end;
                button{
                    background-color: #00483F !important;
                    color: white;
                    border-radius: 0px 10px;
                }
            }
            .button-second-div{
                justify-content: space-between;
                p{
                    color: #3B3B3B;
                    font-size: 12px !important;
                    margin-bottom: 0px;
                }
            }
        }
    }
}


.leave-your-phonenum{
    padding:150px 0px;
    background: white;
    @media only screen and (max-width: 768px) {
        padding:40px 0px; 
      }
    .panner-img{
        background-image: url(../img/Group40.png) !important;
                //height: 500px;
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
         padding: 50px;      
         margin-top: -232px; 
         @media only screen and (max-width: 768px) {
            margin-top: -60px; 
            padding: 10px;
            
          }
         @media only screen and (min-width: 700px)and (max-width: 1400px) {
            background-image: none !important;
            background-color: #00483F; 
            padding: 30px;  
         }
        h2{
            z-index: 10;
            color: white;
            font-size: 50px;
            text-align: center;
            @media only screen and (max-width: 768px) {
                font-size: 12px;
              }
        }
        img{
            width: 100%;
            top:-232px;
            
        }
    }
    .contact-info{
        background: #F6F6F6;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        height: 100%;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
          }
        img{
            width: 30%;
            height: 100%;
            @media only screen and (max-width: 768px) {
                width: 100%;
              }
        }
       form{
        width: 70%;
        @media only screen and (max-width: 768px) {
            width: 100%;
          }
        input{
            width: 70%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #C7C7C7;
            padding-bottom: 20px;
            position: relative;
            @media only screen and (max-width: 768px) {
                width: 100%;
              }
            &:focus{
                
            outline: none;
            }
            &:before{
                content: ' ';
                position: absolute;
                top: 2px; /* adjust icon position */
                left: 0px;
                width: 14px; /* size of a single icon */
                height: 14px;
                background-image: url("../img/footer-wa.PNG"); /* all icons in a single file */
                background-repeat: no-repeat;
                background-position: -48px 0px; /* position of the right icon */
            }
        }
        .button-div{
            display: flex;
            justify-content: flex-end;
            button{
                background-color: #00483F;
                color: white;
                font-size: 22px;
                padding: 10px 20px;
                margin-top: 70px;
                &:hover{
                    color: #00483F;
                    background-color: white;
                    border: 1px solid #00483F;
                    box-sizing: border-box
                }
            }
        }
       }
    }
    .social-contacts{
        @include flex-center;
        flex-direction: column;
        background: #F6F6F6;
        border-radius: 10px;
        padding: 100px 50px;
        height: 100%;
        @media only screen and (max-width: 768px) {
            margin-top: 25px;
          }
        h4{
            margin-bottom: 20px;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
              }
            a{
                &:hover{
                    //box-shadow: 0px 0px 46px 0px rgb(0 ,0 ,0 ,0.9);
                }
                @media only screen and (max-width: 768px) {
                    &:first-child{
                        margin-bottom: 20px;
                    }
                  }
                
                img{
                    height: 80px !important;
                    width: 80px !important;
                    &:hover{
                        
                    }
                }
            }
        }
    }
}


footer{
    background-color: #F6F6F6;
    padding: 60px 0px 30px 0px;
   
    .pages{
        @media only screen and (max-width: 768px) {
            margin-bottom: 30px;
          }
        h4{
            margin-bottom: 20px;
        }
        .pages-list{
            display: flex;
            ul{
                margin-right: 40px;
                li{
                    margin-bottom: 20px;
                    a{
                        color: #000;
                    }
                }
            }
        }
    }
    .socail-contacts{
        @media only screen and (max-width: 768px) {
            margin-bottom: 40px;
          }
        h4{
            margin-bottom: 20px;
        }
        .social{
            
            a{
                border: 1px solid #3B3B3B;
                border-radius: 5px;
                padding: 5px 8px;
                box-sizing: border-box;
                margin-right: 10px;
                i{
                    color: black;
                }
            }
        }
    }
    .logo{
        display: flex;
    justify-content: center;
    align-items: center;
        img{
            width: 70%;
        }
    }

    .footer-line{
        margin: 20px 0px;
        img{
            width: 100%;
        }
    }
    .copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 1px;
            @media only screen and (max-width: 768px) {
                font-size: 12px;
              }
        }
    }
}