body{
    background-color: #F6F6F6 !important;
}
.about-us{
    padding-bottom: 300px;
    .about-us-bg-div{
        background-image: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-position: center top;
       background-size: cover;
        height: 300px;
        width: 100%;
        position: relative;
        img{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 350px; 
            height: 350px;
            border-radius: 30px;
            border: 10px solid transparent;
            outline: #bebaba solid 2px;
        }
    }
    .about-us-info{
        text-align: center;
        position: relative;
        top:200px;
        @include flex-center;
        flex-direction: column;
        .position{
            margin-bottom: 10px;
        }
        .name{
            margin-bottom: 10px;
        }
        .description{
            width: 90%;
            font-size: 21px;
        }
    }
}
.about-us-message{
    .message-text{
        background-color: white !important;
    }
}
.about-us-chairman-message{
    margin-bottom: 200px;
}


