body{
    background: #F6F6F6;
}

.projects-page-title{
    background: linear-gradient(rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/krisztina-papp-VRnb4dMwmBQ-unsplash.png)!important;
    padding: 50px 0px;
    box-sizing: border-box;
    @media only screen and (max-width: 768px) {
        padding: 20px 0px;
      }
    .projects-page-title-bg{
        h2{
            font-size: 40px;
            color: white;
            text-align: center;
            font-weight: bold;
            @media only screen and (max-width: 768px) {
                font-size: 30px;
              }
            span{
                color: #B78457;
            }
        }
    }
}



.unit-projects{
    padding: 40px 0px;
    background: white;
    margin-bottom: 100px;
    .project{
        display: flex;
        margin-bottom: 20px;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
          }
        .unit-img{
            width: 50%;
            margin-left: 10px;
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-left: 0px;
              }
            img{
                width: 100%;
                border-radius: 5px;
                @media only screen and (max-width: 768px) {
                    margin-bottom: 20px;
                  }
            }
        }
        .unit-details{
            width: 50%;
            background: #F6F6F6;
            padding: 20px 20px 0px 0px;
            border-radius: 5px;
            @media only screen and (max-width: 768px) {
                width: 100%;
              }
            button{
                background-color: #B78457;
                color: white;
                padding: 10px 15px;
            }
            h5{
                font-weight: bold;
                margin: 20px 0px;
            }
            div{
                i{
                    margin-left: 10px;
                    padding: 5px;
                    border: 1px solid #B78457;
                    color: #B78457;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 34px;
                    height: 34px;
                    line-height: 20px;
                    text-align: center;
                }
            }
            .button-div{
                @include flex;
                justify-content: flex-end;
                button{
                    background-color: #B78457 !important;
                    color: white;
                    border-radius: 0px 10px;
                    padding: 5px 15px;
                }
            }
        }
    }
}
