@import "../sass/variables";
@import "../sass/mixin";
@import "../sass/reset";
@import"../sass/navbar";
@import"../sass/footer";
@import "../sass/الصفحه\ -الرئيسيه";
@import "../sass/وحده";
@import"../sass/مشاريع";
@import"../sass/البحث";
@import"../sass/عن-الشركه";
@import"../sass/الاخبار";
@import"../sass/الخبر";
@import"../sass/المركز-الاعلامى";
@import"../sass/تفاصيل-المشروع";
